<!-- Footer -->

<footer id="footer">
  <div class="container-fluid">

    <!-- <i class="social-icon fab fa-facebook-f"></i>
    <i class="social-icon fab fa-twitter"></i>
    <i class="social-icon fab fa-instagram"></i> -->
    <a href="mailto:support@bphysics.com"><i class="social-icon fas fa-envelope" style="color:#fff;"></i></a>
    <p>© Copyright 2019 B-Physics</p>

  </div>
</footer>

</body>
</html>
