<%- include('partials/header') %>
<section id="PaySuccess">

<div class="container pay-success-container">
  Your Purchase has been successfully processed!
</div>

<div class="container pay-success-btn">
   <a class="nav-link btn btn-outline-success btn-sm" href="/sections" role="button">Continue to site</a>
</div>

</section>
</section>
<%- include('partials/footer') %>
