<%- include('partials/header') %>
<section id="sections">

<h1>Sections</h1>
<form action="/lesson" method="POST">
    <!-- Section 1 -->
    <div class="card sections-cards">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-outline-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    1.) Introduction
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <ul class="list-group">
                <button class="btn btn-link" type="submit" name="course" value="0">
                    <li class="list-group-item">A.) About The Course</li>
                </button>

                <button class="btn btn-link" type="submit" name="course" value="1">
                    <li class="list-group-item">B.) Getting Your Environment Set-Up</li>
                </button>
            </ul>
        </div>
    </div>

    <!-- Section 2 -->
    <div class="card sections-cards">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-outline-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    2.) Python Basics
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <ul class="list-group">
                <button class="btn btn-link" type="submit" name="course" value="2">
                    <li class="list-group-item">A.) Why Python?</li>
                </button>

                <button class="btn btn-link" type="submit" name="course" value="3">
                    <li class="list-group-item">B.) Data Types</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="4">
                    <li class="list-group-item section-ans">2B ANSWERS</li>
                </button>

                <button class="btn btn-link" type="submit" name="course" value="5">
                    <li class="list-group-item">C.) Variables</li>
                </button>

                <button class="btn btn-link" type="submit" name="course" value="6">
                    <li class="list-group-item">D.) Operators</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="7">
                    <li class="list-group-item section-ans">2D ANSWERS</li>
                </button>

                <button class="btn btn-link" type="submit" name="course" value="8">
                    <li class="list-group-item section-sci">Science: Kinematics 1</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="9">
                    <li class="list-group-item section-sci">Science: Kinematics 2</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="10">
                    <li class="list-group-item section-sci">Science: Kinematics 3</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="11">
                    <li class="list-group-item section-sci">Science: Mass/Force</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="12">
                    <li class="list-group-item">E.) Formulas</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="13">
                    <li class="list-group-item section-ans">2E ANSWERS</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="14">
                    <li class="list-group-item">F.) Functions</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="15">
                    <li class="list-group-item section-ans">2F ANSWERS</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="16">
                    <li class="list-group-item">G.) Lists</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="17">
                    <li class="list-group-item section-ans">2G ANSWERS</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="18">
                    <li class="list-group-item">H.) Control Flow</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="19">
                    <li class="list-group-item section-ans">2H ANSWERS</li>
                </button>

                <button class="btn btn-link" type="submit" name="course" value="20">
                    <li class="list-group-item section-ans">Challenge 1 Answer</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="21">
                    <li class="list-group-item section-ans">Challenge 2 Answer</li>
                </button>

            </ul>
        </div>
    </div>

    <!-- Section 3 -->
    <div class="card sections-cards">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-outline-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    3.) Numpy
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <ul class="list-group">
                <button class="btn btn-link" type="submit" name="course" value="22">
                    <li class="list-group-item">A.) Packages</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="23">
                    <li class="list-group-item section-ans">3A ANSWERS</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="24">
                    <li class="list-group-item">B.) Arrays</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="25">
                    <li class="list-group-item section-ans">3B ANSWERS</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="26">
                    <li class="list-group-item">C.) Numpy Functions for Arrays</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="27">
                    <li class="list-group-item section-ans">3C ANSWERS</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="28">
                    <li class="list-group-item">D.) Functions on Arrays</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="29">
                    <li class="list-group-item section-ans">3D ANSWERS</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="30">
                    <li class="list-group-item">E.) Numpy Functions and Constants</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="31">
                    <li class="list-group-item section-ans">3E ANSWERS</li>
                </button>

                <button class="btn btn-link" type="submit" name="course" value="32">
                    <li class="list-group-item section-ans">Challenge 1 Answer</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="33">
                    <li class="list-group-item section-ans">Challenge 2 Answer</li>
                </button>

            </ul>
        </div>
    </div>

    <!-- Section 4 -->
    <div class="card sections-cards">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-outline-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                    4.) Plotting
                </button>
            </h2>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <ul class="list-group">
                <button class="btn btn-link" type="submit" name="course" value="34">
                    <li class="list-group-item">A.) Our First Plot</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="35">
                    <li class="list-group-item section-ans">4A ANSWERS</li>
                </button>
                    <button class="btn btn-link" type="submit" name="course" value="36">
                        <li class="list-group-item">B.) Customizing Plots</li>
                    </button>
                    <button class="btn btn-link" type="submit" name="course" value="37">
                        <li class="list-group-item section-ans">4B ANSWERS</li>
                    </button>
                    <button class="btn btn-link" type="submit" name="course" value="38">
                        <li class="list-group-item">C.) Choose What to Plot</li>
                    </button>
                    <button class="btn btn-link" type="submit" name="course" value="39">
                        <li class="list-group-item section-ans">4C ANSWERS</li>
                    </button>
                    <button class="btn btn-link" type="submit" name="course" value="40">
                        <li class="list-group-item">D.) Subplots</li>
                    </button>
                    <button class="btn btn-link" type="submit" name="course" value="41">
                        <li class="list-group-item section-ans">4D ANSWERS</li>
                    </button>
                    <button class="btn btn-link" type="submit" name="course" value="42">
                        <li class="list-group-item">E.) Subplots (Continued)</li>
                    </button>
                    <button class="btn btn-link" type="submit" name="course" value="43">
                        <li class="list-group-item section-ans">4E ANSWERS</li>
                    </button>

                    <button class="btn btn-link" type="submit" name="course" value="44">
                        <li class="list-group-item section-ans">Challenge 1 Answer</li>
                    </button>
                    <button class="btn btn-link" type="submit" name="course" value="45">
                        <li class="list-group-item section-ans">Challenge 2 Answer</li>
                    </button>
            </ul>
        </div>
    </div>

    <!-- Section 5 -->
    <div class="card sections-cards">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-outline-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                    5.) Working with Data
                </button>
            </h2>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
            <ul class="list-group">
                <button class="btn btn-link" type="submit" name="course" value="46">
                    <li class="list-group-item">A.) Python's Built-in functions</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="47">
                    <li class="list-group-item section-sci">Science: Logarithms</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="48">
                    <li class="list-group-item section-sci">Science: Density</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="49">
                    <li class="list-group-item section-sci">Science: Energy, Power, and Light</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="50">
                    <li class="list-group-item section-sci">Science: Stars</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="51">
                    <li class="list-group-item section-sci">Science: Stellar Interiors</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="52">
                    <li class="list-group-item">B.) ASCII</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="53">
                    <li class="list-group-item section-ans">5B ANSWERS</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="54">
                    <li class="list-group-item">C.) ASCII (Continued)</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="55">
                    <li class="list-group-item section-ans">5C ANSWERS</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="56">
                    <li class="list-group-item">D.) CSV Files</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="57">
                    <li class="list-group-item section-sci">Science: Flux</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="58">
                    <li class="list-group-item">E.) FITS Files</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="59">
                    <li class="list-group-item">Mini Project Setup</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="60">
                    <li class="list-group-item section-ans">5E ANSWERS 1</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="61">
                    <li class="list-group-item section-ans">5E ANSWERS 2</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="62">
                    <li class="list-group-item section-ans">5E ANSWERS 3</li>
                </button>
            </ul>
        </div>
    </div>

    <!-- Section 6 -->
    <div class="card sections-cards">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-outline-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                    6.) Real-World Projects
                </button>
            </h2>
        </div>
        <div id="collapseSix" class="panel-collapse collapse">
            <ul class="list-group">
                <button class="btn btn-link" type="submit" name="course" value="63">
                    <li class="list-group-item">A.) Explanation</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="64">
                    <li class="list-group-item">B.) Rockets</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="65">
                    <li class="list-group-item section-ans">Rockets Answer: Part 1</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="66">
                    <li class="list-group-item section-ans">Rockets Answer: Part 2</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="67">
                    <li class="list-group-item section-ans">Rockets Answer: Part 3</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="68">
                    <li class="list-group-item section-sci">Science: Low Mass Stellar Evolution</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="69">
                    <li class="list-group-item section-sci">Science: High Mass Stellar Evolution</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="70">
                    <li class="list-group-item">C.) GAIA</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="71">
                    <li class="list-group-item section-ans">GAIA Answer: Part 1</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="72">
                    <li class="list-group-item section-ans">GAIA Answer: Part 2</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="73">
                    <li class="list-group-item">D.) MESA</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="74">
                    <li class="list-group-item section-ans">MESA Answer: Part 1</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="75">
                    <li class="list-group-item section-ans">MESA Answer: Part 2</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="76">
                    <li class="list-group-item section-ans">MESA Answer: Part 3</li>
                </button>

                <button class="btn btn-link" type="submit" name="course" value="77">
                    <li class="list-group-item">E.) Kepler1</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="78">
                    <li class="list-group-item">E.) Kepler2</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="79">
                    <li class="list-group-item">E.) Kepler3</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="80">
                    <li class="list-group-item section-ans">Kepler Answer: Part 1</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="81">
                    <li class="list-group-item section-ans">Kepler Answer: Part 2</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="82">
                    <li class="list-group-item section-ans">Kepler Answer: Part 3</li>
                </button>
                <button class="btn btn-link" type="submit" name="course" value="83">
                    <li class="list-group-item section-ans">End</li>
                </button>
            </ul>
        </div>
    </div>
    <script src="js/sections.js" charset="utf-8"></script>
</form>

</section>
</section>

<%- include('partials/footer') %>
